.ui.borderless.topmenu.menu {
  box-shadow: none;
  border: none;
  color: #7d7d7c;
}

.item {
  color:#00b6cc !important;
}

#grey .item{
  color: #7d7d7c !important;
}

.text {
  color:#00b6cc !important;
}

